@model KurulTakipSistemi.Models.Kurullar

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Yeni Kurul</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Adi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Adi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Adi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sponsoru, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="js-example-data-ajax form-control" name="Sponsoru">
                    <option value="0" selected="selected">Sponsor Seçiniz</option>
                </select>
                @Html.ValidationMessageFor(model => model.Sponsoru, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Baskani, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="js-example-data-ajax form-control" name="Baskani">
                    <option value="0" selected="selected">Başkan Seçiniz</option>
                </select>
                @Html.ValidationMessageFor(model => model.Baskani, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Raportor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="js-example-data-ajax form-control" name="Raportor">
                    <option value="0" selected="selected">Raportor Seçiniz</option>
                </select>
                @Html.ValidationMessageFor(model => model.Raportor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amac, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Amac, 3, 5, new { @class = "form-control", @style = "max-width:600px;" })
                @Html.ValidationMessageFor(model => model.Amac, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gundem, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Gundem, 3, 5, new { @class = "form-control", @style = "max-width:600px;" })
                @Html.ValidationMessageFor(model => model.Gundem, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SiraNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SiraNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SiraNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BasTarihi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BasTarihi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BasTarihi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sorumluluklar, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Sorumluluklar, 3, 5, new { @class = "form-control", @style = "max-width:600px;" })
                @Html.ValidationMessageFor(model => model.Sorumluluklar, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IlgiliUstSurec, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IlgiliUstSurec, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IlgiliUstSurec, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Politika, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Politika, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Politika, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Geri Git", "Index")
</div>

<script>$("#BasTarihi").datepicker({ dateFormat: 'dd/mm/yy' });</script>